@font-face {
  font-family: "pokesolid";
  src: url(/fonts/pokemon-normal.ttf);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-image: url(/img/clickwallpapers-pokemon-4k-img9.webp);
  background-position: center center;
  background-repeat: no-repeat;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url(/img/clickwallpapers-pokemon-4k-img9.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 100%;
  display: block;
}

/* cabecera */
header {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 2rem;
  padding: 1.3rem;
}

/* contenedor */
.container {
  background-color: transparent;

  width: 95%;
  max-width: 120rem;
  padding: 1.3rem;

  margin: 0 auto;
  text-align: center;
}

.logo {
  width: 15rem;
}

.titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* contenedor pokemons */

#pokemons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

/* card */

.name {
  color: #366eb0;

  padding: 1rem;
}
.poke {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;

  background-color: azure;
  padding: 1.2rem;
  -webkit-box-shadow: -2px 8px 18px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 8px 18px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 8px 18px -6px rgba(0, 0, 0, 0.75);
  transition: all 300ms;
}

.poke:hover {
  transform: skewY(10deg) scale(1.1);
}

.poke h3 {
  font-size: 2rem;
  font-family: "pokesolid";
  letter-spacing: 2px;
}

.pokeImage img {
  width: 90%;
  height: 10rem;
  filter: drop-shadow(3px 2px 2px black);
}

span {
  font-family: "pokeSolid";
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (min-width: 810px) {
  .poke {
    width: 30%;
  }
  .poke h3 {
    font-size: 1.2rem;
  }
}

.name {
  text-transform: uppercase;
}

small {
  font-size: 1rem;
}

/* botones  */

.controls {
  width: 100%;
  position: sticky;
  bottom: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.btn {
  width: 15%;
}

.poke-btn:hover {
  cursor: pointer;
  transform: scale(1.2) !important;
}

.poke-btn {
  width: 3rem;
  transition: all 300ms;
}

/* alerta modal */
.alerta {
  width: 80%;
  height: 10rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 10;
  font-size: 2rem;
  border: 1px solid #333;
  -webkit-box-shadow: -2px 8px 18px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 8px 18px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 8px 18px -6px rgba(0, 0, 0, 0.75);
}

@media (min-width: 768px) {
  .alerta {
    width: 40%;
    left: 30%;
  }
}

.none {
  display: none;
}

/* card de detalle pokemon */

.detailP {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 2rem auto;
  position: fixed;
  top: 10%;
}

.big {
  width: 80%;

  margin: 0 auto;
}
.big h3 {
  font-size: 1.6rem;
}

@media (min-width: 769px) {
  .big {
    width: 30%;
  }

  .big h3 {
    font-size: 2.5rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  width: 60%;
}

.info small {
  font-size: 1.4rem;
}

span {
  color: green;
}

.black {
  color: black;
  font-weight: bold;
}

.comand {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-close {
  width: 4rem;
  font-size: 1.5rem;
}
.btn-dark {
  font-family: "pokesolid";
  letter-spacing: 2px;
  font-size: 1.3rem;
}

/* fin detalle pokemon */

/* buscador */
.buscador {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

@media (min-width: 767px) {
  .buscador {
    flex-direction: row;
  }
}

label {
  font-size: 1.2rem;
  margin-right: 2rem;
}

.btn-dark {
  width: 10rem;
  transition: 300ms;
}

.btn-dark:hover {
  background-color: red;
}

.footer {
  display: flex;
  background-color: transparent;
  margin-top: 2rem;
  font-family: "pokesolid";
  padding: 1.3rem;
  color: #ffcc01;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* clases */

.grass {
  background: rgb(12, 222, 138);
  background: linear-gradient(
    328deg,
    rgba(12, 222, 138, 0.527345972568715) 39%,
    rgba(255, 255, 255, 0.596) 61%
  );
}

.normal {
  background: rgb(3, 255, 235);
  background: linear-gradient(
    328deg,
    rgba(3, 255, 235, 1) 38%,
    rgba(255, 255, 255, 0.596) 61%
  );
}

.water {
  background: rgb(12, 161, 222);
  background: linear-gradient(
    328deg,
    rgba(12, 161, 222, 0.527345972568715) 39%,
    rgba(255, 255, 255, 0.596) 61%
  );
}

.fire {
  background: rgb(221, 173, 120);
  background: linear-gradient(
    328deg,
    rgba(233, 81, 43, 0.611) 48%,
    rgba(255, 255, 255, 0.596) 61%
  );
}

.ground {
  background: rgb(221, 173, 120);
  background: linear-gradient(
    328deg,
    rgba(221, 173, 120, 0.6113795860140931) 48%,
    rgba(255, 255, 255, 0.596) 61%
  );
}

.electric {
  background: rgb(214, 232, 22);
  background: linear-gradient(
    328deg,
    rgba(214, 232, 22, 0.6113795860140931) 38%,
    rgba(255, 255, 255, 0.596) 61%
  );
}

.poison {
  background: rgb(147, 61, 147);
  background: linear-gradient(
    328deg,
    rgba(147, 61, 147, 0.6982143199076505) 38%,
    rgba(255, 255, 255, 0.596) 61%
  );
}

.ghost {
  background: rgb(222, 189, 65);
  background: linear-gradient(
    328deg,
    rgba(222, 189, 65, 1) 38%,
    rgba(255, 255, 255, 0.596) 61%
  );
}

.fighting {
  background: rgb(218, 218, 216);
  background: linear-gradient(
    328deg,
    rgba(218, 218, 216, 1) 38%,
    rgba(255, 255, 255, 0.596) 61%
  );
}

.fairy {
  background: rgb(255, 197, 180);
  background: linear-gradient(
    328deg,
    rgba(255, 197, 180, 1) 38%,
    rgba(255, 255, 255, 0.596) 61%
  );
}

.bug {
  background: rgb(118, 95, 88);
  background: linear-gradient(
    328deg,
    rgba(118, 95, 88, 0.6113795860140931) 38%,
    rgba(255, 255, 255, 0.596) 61%
  );
}

.psychic {
  background: rgb(255, 246, 172);
  background: linear-gradient(
    328deg,
    rgba(255, 246, 172, 1) 38%,
    rgba(255, 255, 255, 0.596) 61%
  );
}

.rock {
  background: rgb(145, 143, 121);
  background: linear-gradient(
    328deg,
    rgba(145, 143, 121, 1) 38%,
    rgba(255, 255, 255, 0.596) 61%
  );
}

.dark {
  background: rgb(52, 114, 133);
  background: linear-gradient(
    328deg,
    rgba(52, 114, 133, 0.7822479333530288) 38%,
    rgba(255, 255, 255, 0.596) 61%
  );
}

.ice {
  background: rgb(0, 195, 255);
  background: linear-gradient(
    328deg,
    rgba(0, 195, 255, 0.28644961402529767) 37%,
    rgba(255, 255, 255, 0.596) 61%
  );
}

.steel {
  background: rgb(67, 82, 116);
  background: linear-gradient(
    328deg,
    rgba(67, 82, 116, 0.6113795860140931) 37%,
    rgba(255, 255, 255, 0.596) 61%
  );
}
